/* colors
#090909
#332424
#553C3C
#555555
#A2A2A2

#FFA000 -> #FFBC4C
*/

body {
    margin: 0 !important;
}


/* ==========================================================================
   NAVBAR
   ========================================================================== */

.menu-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: red;
    padding-left: 0px;
}

.menu-top-container ul li {
    display: inline-block;
    padding: 20px;
}